body{
  margin: 0;
  padding: 0;
}
.nav {
    background-color: red;
    color: white;
}

.navhead{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10;
}

.img{
  width: 100px;
  height: 60px;
  margin-right: 10px;
}